src/main/mule/prc-to-cass.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:cassandra-db="http://www.mulesoft.org/schema/mule/cassandra-db"
	xmlns:kafka="http://www.mulesoft.org/schema/mule/kafka"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/kafka http://www.mulesoft.org/schema/mule/kafka/current/mule-kafka.xsd
http://www.mulesoft.org/schema/mule/cassandra-db http://www.mulesoft.org/schema/mule/cassandra-db/current/mule-cassandra-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="prc-to-cass.insert-data" doc:id="5789b85f-17c8-42dd-909a-cc0de97be0ae">
		<kafka:message-listener doc:name="Message listener" doc:id="c2ddb7e7-b0b7-488d-860d-72d82c4c68eb" config-ref="Apache_Kafka_Consumer_configuration"/>
		<set-payload value="#[payload]" doc:name="Set json MIME Type" doc:id="22ff3243-6c2a-4b25-8370-3e4494f91525" mimeType="application/json"/>
		<cassandra-db:insert doc:name="Insert to cassandra" doc:id="c0c6ced1-6873-4cb4-8cc1-fe74e3f77515" config-ref="CassandraDB_Config" keyspaceName="${cassandra.keyspace}" table="statistics" />
		<logger level="INFO" doc:name="End" doc:id="348eaae6-5683-4332-ba9d-f239b81bc201" message="End [#[flow.name]]  - Data have been inserted to database"/>
	</flow>
	<flow name="prc-to-cass.get-data" doc:id="a4c8e13e-fd5f-4ba7-ba06-0c33c0d2e542" >
		<ee:transform doc:name="Set vars" doc:id="a30e06e6-8e80-4ebc-a048-1d915d9ca39c">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="country"><![CDATA[output application/java
---
attributes.queryParams.country]]></ee:set-variable>
				<ee:set-variable variableName="lastDate"><![CDATA[output application/java
var lastDays = attributes.queryParams.lastDays default 90
---
(now() - ("P$(lastDays)D" as Period)) as Date as String]]></ee:set-variable>
				<ee:set-variable variableName="lastDays"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.lastDays as Number default 90]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-variable value='#[{
	query: "SELECT * FROM covid.statistics WHERE country = ? AND date &gt;= ?",
	parameters: [vars.country, vars.lastDate]
}]' doc:name="Set dynamicQuery" doc:id="6790cad9-5497-42fe-9dde-76e475829248" variableName="dynamicQuery"/>
		<cassandra-db:select doc:name="Select from cassandra" doc:id="089b8e70-5caf-4702-91b2-7b60ac9e8dc6" config-ref="CassandraDB_Config" parameters="#[vars.dynamicQuery.parameters]">
			<cassandra-db:query ><![CDATA[#[vars.dynamicQuery.query]]]></cassandra-db:query>
		</cassandra-db:select>
		<ee:transform doc:name="Check if data is present in DB" doc:id="7fbadf64-83cb-402e-8918-75037efe3101">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
var size = sizeOf(payload)
---
if (size == 0 or size != vars.lastDays) 
	lookup('prc-to-kafka.prepare-data', payload, 30000) 
else
	payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log response" doc:id="f4725121-51d9-4a2b-9788-309c5f09a694" message="[#[flow.name]] - [#[vars.trackingId]] - Response to user: [#[payload]]"/>
	</flow>
</mule>