src/main/mule/prc-to-cass.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:cassandra-db="http://www.mulesoft.org/schema/mule/cassandra-db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cassandra-db http://www.mulesoft.org/schema/mule/cassandra-db/current/mule-cassandra-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<os:object-store name="Object_store" doc:name="Object store" doc:id="9186ffce-4818-42b8-9184-8c936fba7989" config-ref="ObjectStore_Config" />
	<flow name="prc-to-cass.create-keyspace" doc:id="fcf053fa-8ee5-4059-b691-c0e02aa0f16f" >
		<set-variable value="#[output application/java
---
{
	keyspaceName : p('cassandra.keyspace'),
	replicationFactor: p('cassandra.replication_factor'),
	replicationStrategyClass: 'SimpleStrategy'
}]" doc:name="Set CQLInput" doc:id="31b4b69d-7cf4-4005-abd5-9aa0a610f99d" variableName="cqlInput"/>
		<cassandra-db:create-keyspace doc:name="Create keyspace" doc:id="0fd6a303-4121-46f6-a217-0cd23de0d025" config-ref="CassandraDB_Config">
			<cassandra-db:input ><![CDATA[#[vars.cqlInput]]]></cassandra-db:input>
		</cassandra-db:create-keyspace>
		<os:store doc:name="Store" doc:id="16042736-0f4f-4fce-9409-25558369777a" key="created" objectStore="Object_store">
			<os:value ><![CDATA[#[true]]]></os:value>
		</os:store>
		<flow-ref doc:name="prc-to-cass.create-column-familly" doc:id="b662825e-182c-45d7-908e-662c15d40fb4" name="prc-to-cass.create-column-familly"/>
	</flow>
	<sub-flow name="prc-to-cass.create-column-familly" doc:id="380dbb8a-aa1f-43b4-8055-eb76da2a43c0" >
		<cassandra-db:create-table doc:name="Create table" doc:id="e62a52fb-0d1b-462a-9191-ad122c6b2b6b" config-ref="CassandraDB_Config">
			<cassandra-db:create-table-input ><![CDATA[#[output application/java
---
{
	columns: [
		
	{
		name: "date_id",
		primaryKey: true,
		'type': 'TIMESTAMP'
	},
	{
		name: "cases",
		primaryKey: false,
		'type': 'TEXT'
	},
	{
		name: "deaths",
		primaryKey: false,
		'type': 'TEXT'
	},
	{
		name: "recovered",
		primaryKey: false,
		'type': 'TEXT'
	}],
	keyspaceName: p('cassandra.keyspace'),
	tableName: 'statistics'
}]]]></cassandra-db:create-table-input>
		</cassandra-db:create-table>
		<logger level="INFO" doc:name="Logger" doc:id="df1b246c-b5a8-45f1-815f-e72704675ae5" />
	</sub-flow>
	<flow name="prc-to-cassFlow" doc:id="15b9e895-e701-4e5d-b3a8-5f48e6c82b0e" initialState="stopped">
		<scheduler doc:name="Scheduler" doc:id="1e874b1a-7857-45ee-ad57-e4297d24d9e8" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="Retrieve" doc:id="5afd0e99-44e3-42de-8978-febb471b9892" key="created" objectStore="Object_store" target="created">
			<os:default-value ><![CDATA[false]]></os:default-value>
		</os:retrieve>
		<ee:transform doc:name="Transform Message" doc:id="d82735c5-5943-4ec8-9a01-b8d91333608f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
if(!vars.created) lookup("prc-to-cass.create-keyspace", payload) else null]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
